@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjQ.ttf)
    }
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url(/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fAZ9hjQ.ttf)
    }
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url(/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYAZ9hjQ.ttf)
    }
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url(/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYAZ9hjQ.ttf)
    }