.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-layout-wrap-1 {margin: 67px auto 60px}
.u-section-1 .u-layout-cell-1 {min-height: 330px}
.u-section-1 .u-container-layout-1 {box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); padding: 30px}
.u-section-1 .u-text-1 {font-weight: 700; margin: 0 -1px}
.u-section-1 .u-icon-1 {margin-top: 1px}
.u-section-1 .u-custom-html-1 {min-height: 118px; margin: 30px 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 511px}
.u-section-1 .u-container-layout-2 {box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); padding: 30px}
.u-section-1 .u-text-2 {font-weight: 700; margin: 0 2px}
.u-section-1 .u-text-3 {line-height: 1; letter-spacing: 1px; font-size: 0.875rem; margin: 41px 0 0}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-btn-2 {padding: 0}
.u-section-1 .u-btn-3 {padding: 0}
.u-section-1 .u-layout-cell-3 {min-height: 832px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-1 {height: 305px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); width: 305px; background-image: url("images/mago.png"); background-position: 50% 50%; animation-duration: 6000ms; margin: 0 auto}
.u-section-1 .u-custom-html-2 {min-height: 139px; animation-duration: 3000ms; margin: 67px 1px 0 0}
.u-section-1 .u-layout-cell-4 {min-height: 509px}
.u-section-1 .u-container-layout-4 {box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); padding: 30px}
.u-section-1 .u-custom-html-3 {min-height: 53px; margin: 0 auto}
.u-section-1 .u-text-4 {margin: 31px -17px 0 auto}
.u-section-1 .u-btn-4 {padding: 0}
.u-section-1 .u-btn-5 {font-weight: 700; padding: 0}
.u-section-1 .u-btn-6 {font-weight: 700; padding: 0}
.u-section-1 .u-btn-7 {padding: 0}
.u-section-1 .u-layout-cell-5 {min-height: 333px}
.u-section-1 .u-container-layout-5 {box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); padding: 30px}
.u-section-1 .u-text-5 {margin: 0 16px 0 0}
.u-section-1 .u-btn-8 {padding: 0}
.u-section-1 .u-btn-9 {padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 1096px}
.u-section-1 .u-layout-wrap-1 {min-height: 368px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 416px}
.u-section-1 .u-text-1 {width: 142px; margin-left: auto; margin-right: auto}
.u-section-1 .u-custom-html-1 {height: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-2 {min-height: 590px}
.u-section-1 .u-text-2 {margin-left: -10px; margin-right: -10px}
.u-section-1 .u-layout-cell-3 {min-height: 686px; background-position: 50% 50%}
.u-section-1 .u-image-1 {height: 253px; width: 253px}
.u-section-1 .u-custom-html-2 {height: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-4 {min-height: 420px}
.u-section-1 .u-custom-html-3 {height: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-4 {margin-right: -13px}
.u-section-1 .u-layout-cell-5 {min-height: 275px}
.u-section-1 .u-text-5 {margin-left: 6px; margin-right: 6px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1285px}
.u-section-1 .u-layout-wrap-1 {margin-top: 60px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-custom-html-1 {min-height: 86px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-text-2 {margin-top: 1px; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-3 {margin-top: 30px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-image-1 {height: 300px; width: 300px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-text-4 {margin-top: 0; margin-right: 98px; margin-left: 0}
.u-section-1 .u-layout-cell-5 {min-height: 100px}
.u-section-1 .u-text-5 {margin-right: 14px; margin-left: 0} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1973px}
.u-section-1 .u-layout-wrap-1 {margin-top: 50px; margin-bottom: 20px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {width: 241px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {margin-top: 0}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {height: 520px; width: 520px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-4 {margin-right: -34px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-5 {margin-left: 12px; margin-right: 12px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1089px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 60px; min-height: 69px; margin-right: initial; margin-left: initial}
.u-section-1 .u-custom-html-1 {margin-top: 8px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-2 {width: 194px}
.u-section-1 .u-image-1 {height: 320px; width: 320px; margin-right: 0}
.u-section-1 .u-text-4 {margin-right: -21px}
.u-section-1 .u-text-5 {margin-left: 7px; margin-right: 7px} }.face {
	display: inline-block;
	width: 100%;
	height: 400px;
	background-size: cover;
	transition: width 1s;
	-webkit-transition: width 1s;
}
.face:hover {
	width: 75%;
}