<div class="w-tabs" data-current="Tab 1" data-duration-in="300"
     data-duration-out="100" data-easing="ease" id="w-node-_796c01d0-f8e9-b899-b9db-077b9919c746-ac6b6132">
  <div class="tabs-menu w-tab-menu">
    <a class="w-inline-block w-tab-link w--current" data-w-tab="Tab 1">
      <div>General Channel</div>
    </a>
  </div>
  <div class="w-tab-content">
    <div class="w-tab-pane w--tab-active" data-w-tab="Tab 1">


      <div class="w-layout-blockcontainer container-3 w-container">
        <div class="container">
          <div class="messages">
            <div class="messages-scroller">
              <ng-container *ngFor="let message of messages">
                <div [ngClass]="message.author === 'yokharian' ? 'message me' : 'message'">
                  {{message.body}}
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-blockcontainer container-2 w-container">
        <div class="w-form">
          <form data-name="Message Form" data-wf-element-id="b25dfee4-3262-b413-eee1-85a8acacdb17"
                data-wf-page-id="651ca5c0aa522630ac6b6132" id="wf-form-Message-Form"
                method="get" name="wf-form-Message-Form">
            <div class="w-layout-hflex flex-block"><input autofocus="true" class="text-field-2 w-input"
                                                          data-name="Message"
                                                          id="Message" maxlength="256" name="Message"
                                                          placeholder="Type your message here" required=""
                                                          type="text"><input
              class="submit-button-2 w-button" data-wait="Please wait..." type="submit" value="Submit"></div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
