*
  box-sizing: border-box

.container
  display: flex
  flex-direction: column
  height: 70%
  min-height: 140px
  max-height: 80%
  background: white
  border-radius: 16px
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.0)

.messages
  flex: 1
  position: relative

.messages-scroller
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  flex-direction: column
  padding: 16px
  overflow-y: scroll

.message
  align-self: flex-start
  margin-top: 4px
  padding: 8px 12px
  max-width: 240px
  background: #f1f0f0
  border-radius: 16px
  font-size: 14px

  &.me
    align-self: flex-end
    background: #2196F3
    color: white
    width: fit-content
    //margin: 10px
