  <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto">
    
    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">

      <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
        <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
          <div *ngFor="let slide of slides" class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              {{slide}}
            </div>
          </div>
        </swiper>
      </div>

    </div>
  </div>