<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> <h3>Números romanos!</h3> </mat-card-title>
        <mat-card-subtitle
          >Desliza el punto para calcular un número romano!
          :D</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <mat-slider
          aria-label="units"
          step="1" min="1" max="10000"
          discrete (change)="updateSetting($event)"
        ><input matSliderThumb [(value)]="this.sliderValue"></mat-slider>
      </mat-card-content>
      <span id="OutputValue">{{ this.calculatedValue }}</span>
    </mat-card>
  </body>
</html>
