<mat-card class="example-card">
  <mat-card-header>
    <div class="example-header-image" mat-card-avatar></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <youtube-player #MainPlayer [height]="260"
                  [playerVars]="playerVars"
                  class="video-responsive"></youtube-player>

  <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="MainPlayer.playVideo()" mat-button>PLAY</button>
    <button (click)="MainPlayer.stopVideo()" mat-button>STOP</button>
    <button (click)="changeVideo()" mat-button>CHANGE VIDEO</button>
  </mat-card-actions>
</mat-card>
