<amplify-authenticator
  [hidden]="authenticatorHidden"
  [services]="services"
  [socialProviders]="['google']"
  variation="modal"
>
  <!-- sign-up-field override -->
  <ng-template amplifySlot="sign-up-form-fields" let-validationErrors="validationErrors">
    <!-- Re-use default `Authenticator.SignUp.FormFields` -->
    <amplify-sign-up-form-fields></amplify-sign-up-form-fields>
    <mat-radio-group label="Gender" name="gender">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
      <mat-radio-button value="Other">Other</mat-radio-button>
      <p class="amplify-text amplify-field__error-message">{{validationErrors.gender}}</p>
    </mat-radio-group>
  </ng-template>
</amplify-authenticator>

<body class="bodychat">
<header class="nav-bar">
  <div class="w-container">
    <div class="w-row">
      <div class="brand-column w-col w-col-4 w-col-tiny-tiny-stack"><img alt="" class="logo"
                                                                         sizes="(max-width: 479px) 67vw, 41px"
                                                                         src="images/Social_Profile.png"
                                                                         srcset="images/Social_Profile-p-500.png 500w, images/Social_Profile-p-800.png 800w, images/Social_Profile.png 1080w"
                                                                         width="41px">
        <div class="company">NoiceFluid</div>
      </div>
      <nav class="nav-column w-col w-col-8 w-col-tiny-tiny-stack">
        <a (click)="toggleAuthenticator(false)" *ngIf="!authenticated" class="nav-link login"
           href="#">Login</a>
        <a (click)="authService.signOut()" *ngIf="authenticated" class="nav-link login" href="#">Logout</a>

      </nav>
    </div>
  </div>
</header>
<section>
  <div class="w-layout-grid grid">
    <div #DivMainPlayer class="div-block-2" id="w-node-f4f20d80-04d1-d214-aedc-33213d72637d-ac6b6132">
      <div class="w-embed-youtubevideo youtube" id="w-node-_2d3fb2ab-5acd-6ffc-ffc1-05c59e7bb1ee-ac6b6132"
           style="padding-top:56.17021276595745%">
        <yt-player
          [videoHeight]="videoHeight"
          [videoWidth]="videoWidth"
        ></yt-player>
      </div>
    </div>
    <div id="w-node-be04aec8-2ba6-5fe8-1863-fc5169ac60a0-ac6b6132">
      <app-chat></app-chat>

    </div>
  </div>
</section>
<section>
  <form action="/search" class="w-form"><label for="search">Search</label>
    <div class="w-slider" data-animation="slide" data-autoplay="false" data-autoplay-limit="0" data-delay="4000"
         data-disable-swipe="false" data-duration="500" data-easing="ease" data-hide-arrows="false"
         data-infinite="true" data-nav-spacing="3">
      <div class="w-slider-mask">
        <div class="w-slide"></div>
        <div class="w-slide"></div>
      </div>
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round w-num"></div>
    </div>
    <input class="w-input" id="search" maxlength="256" name="query" placeholder="Search…" required=""
           type="search"><input class="w-button" type="submit" value="Search">
  </form>
</section>
<footer class="section footer">
  <div class="container w-container">
    <div class="w-row">
      <div class="w-col w-col-6">
        <div class="footer-text">© All Rights Reserved</div>
      </div>
      <div class="right-footer-col w-col w-col-6">
        <a class="social-icon w-inline-block" href="#"><img alt="" src="images/14-social-email_114-social-email.png"
                                                            width="20"></a>
        <a class="social-icon w-inline-block" href="#" target="_blank"><img
          alt="" src="images/14-social-facebook_114-social-facebook.png" width="20"></a>
        <a class="social-icon w-inline-block" href="#" target="_blank"><img
          alt="" src="images/14-social-twitter_114-social-twitter.png" width="20"></a>
      </div>
    </div>
  </div>
</footer>
</body>
