<p></p>
<mat-toolbar color="primary">
  <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon" mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!--<h1>{{title}}</h1>-->
<!--<nav>-->
<!--  <a routerLink="/index">index</a>-->
<!--  <a routerLink="/noicefluid">noicefluid</a>-->
<!--</nav>-->
<router-outlet></router-outlet>
