<!doctype html>
<html lang="en">
<body>
<mat-card class="main-page">
  <mat-card-content>
    <amplify-authenticator
      [services]="services"
      initialState="signUp"
      variation="modal">


      <!-- sign-up-field override -->
      <ng-template
        amplifySlot="sign-up-form-fields"
        let-signOut="signOut"
        let-user="user"
        let-validationErrors="validationErrors"
      >

        <!-- Re-use default `Authenticator.SignUp.FormFields` -->
        <amplify-sign-up-form-fields></amplify-sign-up-form-fields>

        <!-- Append & require Terms & Conditions field to sign up -->
        <amplify-text-field
          [hasError]="!!validationErrors.gender"
          autocomplete="false"
          label="Gender"
          name="gender"
          placeholder="What is your gender?"
          type="text">
        </amplify-text-field>

      </ng-template>


      <!-- signed-in content override -->
      <ng-template
        amplifySlot="authenticated"
        let-signOut="signOut"
        let-user="user"
      >
        <app-roma-script></app-roma-script>
        <p style="text-align: center">Here Goes CV !</p>

        <h1>Welcome, {{ user.username }}!</h1>
        <button (click)="signOut()">Sign Out</button>
      </ng-template>

      <!--LOGO-->
      <!--        <ng-template amplifySlot="header">-->
      <!--          <div style="padding: var(&#45;&#45;amplify-space-large); text-align: center">-->
      <!--            <img-->
      <!--              class="amplify-image"-->
      <!--              alt="Amplify logo"-->
      <!--              src="https://docs.amplify.aws/assets/logo-dark.svg"-->
      <!--            />-->
      <!--          </div>-->
      <!--        </ng-template>-->

      <ng-template amplifySlot="sign-in-header">
        <h1
          class="amplify-heading"
          style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
        >
          Sign in to your account
        </h1>
      </ng-template>

      <ng-template amplifySlot="sign-in-footer">
        <div style="text-align: center">
          <button
            (click)="authenticator.toResetPassword()"
            class="amplify-button amplify-field-group__control"
            data-fullwidth="false"
            data-size="small"
            data-variation="link"
            style="font-weight: normal"
            type="button"
          >
            Reset Password
          </button>
        </div>
      </ng-template>

      <ng-template amplifySlot="sign-up-header">
        <h1
          class="amplify-heading"
          style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
        >
          Create a new account
        </h1>
      </ng-template>

      <ng-template amplifySlot="sign-up-footer">
        <div style="text-align: center">
          <button
            (click)="authenticator.toSignIn()"
            class="amplify-button amplify-field-group__control"
            data-fullwidth="false"
            data-size="small"
            data-variation="link"
            style="font-weight: normal"
            type="button"
          >
            Back to Sign In
          </button>
        </div>
      </ng-template>

      <ng-template amplifySlot="footer">
        <div style="padding: var(--amplify-space-large); text-align: center">
          <p class="amplify-text" style="color: var(--amplify-colors-neutral-80)">
            © All Rights Reserved
          </p>
        </div>
      </ng-template>

      <ng-template amplifySlot="confirm-sign-up-header">
        <h1
          class="amplify-heading"
          style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
        >
          Enter Information:
        </h1>
      </ng-template>

      <ng-template amplifySlot="confirm-sign-up-footer">
        <div>Footer Information</div>
      </ng-template>

      <ng-template amplifySlot="setup-totp-header">
        <h1
          class="amplify-heading"
          style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
        >
          Enter Information:
        </h1>
      </ng-template>

      <ng-template amplifySlot="setup-totp-footer">
        <div>Footer Information</div>
      </ng-template>

      <ng-template amplifySlot="confirm-sign-in-header">
        <h1
          class="amplify-heading"
          style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
        >
          Enter Information:
        </h1>
      </ng-template>

      <ng-template amplifySlot="confirm-sign-in-footer">
        <div>Footer Information</div>
      </ng-template>

      <ng-template amplifySlot="reset-password-header">
        <h1
          class="amplify-heading"
          style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
        >
          Enter Information:
        </h1>
      </ng-template>

      <ng-template amplifySlot="reset-password-footer">
        <div>Footer Information</div>
      </ng-template>

      <ng-template amplifySlot="confirm-reset-password-header">
        <h1
          class="amplify-heading"
          style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
        >
          Enter Information:
        </h1>
      </ng-template>

      <ng-template amplifySlot="confirm-reset-password-footer">
        <div>Footer Information</div>
      </ng-template>


    </amplify-authenticator>
  </mat-card-content>
</mat-card>
</body>
</html>
