<mat-card>
  <mat-card-header>
    <mat-card-title>GET your logs</mat-card-title>
    <mat-card-subtitle>log query</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field appearance="fill" required>
      <mat-label>_Id *</mat-label>
      <input matInput id="_id" type="text" [formControl]="idControl">
    </mat-form-field><br>

    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="spanControl" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error
        *ngIf="spanControl.controls.start.hasError('matStartDateInvalid')">Invalid
        start date</mat-error>
      <mat-error *ngIf="spanControl.controls.end.hasError('matEndDateInvalid')">Invalid
        end date</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Limit</mat-label>
      <input matInput type="number" [formControl]="limitControl" min="1">
      <span matSuffix>entries</span>
      <mat-error *ngIf="limitControl.invalid">Min: 5</mat-error>
    </mat-form-field><br>


  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="search()">Search</button>
  </mat-card-actions>
</mat-card>
