<mat-card class="main-page">
  <mat-card-content>

    <img
      [height]="150"
      [width]="150"
      alt="Picture"
      src="https://cv-assets-portfolio-sofia-escobedo.s3.amazonaws.com/SOF+black.jpg"
      style="display: block; margin: 0 auto" />
    <p></p>
    <markdown ngPreserveWhitespaces>

      · Back End Developer with 2 years of experience specialized in PYTHON and AWS, competent to learn on her own and
      accustomed to solving ambiguous problems creatively.

      · I believe that leadership and initiative are worth it, treating others as you would like to be treated with
      respect and discipline.
      ```
    </markdown>
  </mat-card-content>
</mat-card>
