@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    position: relative;
    height: 100%;
    // background-image: url("./assets/dots.png");
    // background-attachment: fixed;
    // background-size: initial;
    // background-position: top left;
    // background-repeat: repeat;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.color-1 {
    background-color: #009688;
}
.color-2 {
    background-color: #4caf50;
}
.color-3 {
    background-color: #ffeb3b;
}
.color-4 {
    background-color: #ff5722;
}
.color-5 {
    background-color: #607d8b;
}
mat-card-header,
mat-card-content,
mat-card-actions {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
}
mat-card,
mat-form-field {
    width: 300px;
}
