/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
  background-image: url("https://noicefluid.com/images/dots.png");
  background-attachment: fixed;
  background-size: initial;
  background-position: top left;
  background-repeat: repeat;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-card-header,
mat-card-content,
mat-card-actions{
  display: flex  !important;
  justify-content: center !important;
  flex-direction: column !important;
}
mat-card,
mat-form-field{
  width:300px;
}
